body{
    background-image: url("https://sites.psu.edu/garyyoung/files/2016/06/background-3-1024x584.jpg");
}
h1{
    text-align: center;
    color: black;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}
p{
    font-size: xx-large;
    background-color: black;
    color: blanchedalmond;
}